openapi: 3.2.0
info:
  title: Cornell University Search Library Catalog API
  version: '1.0'
  description: Machine-readable search over the Cornell University Library catalog.
  termsOfService: https://www.library.cornell.edu/
  contact:
    name: Cornell University Library
    url: https://www.library.cornell.edu/
  x-operator: institution
  x-operator-evidence: catalog.library.cornell.edu is under Cornell's own registrable domain and CNAMEs to blacklight-cornell-prod-1202100003.us-east-1.elb.amazonaws.com — an AWS load balancer in Cornell University Library's own account, not a vendor platform tenancy. The application is Cornell University Library's own Blacklight deployment (github.com/cul, 200 on 2026-08-19). OpenSearch description at /catalog/opensearch.xml self-identifies as "Cornell University Library Catalog".
  x-provenance:
    generated: '2026-08-19'
    method: derived
    source: 'Live probes 2026-08-19: https://catalog.library.cornell.edu/catalog.json?q=cornell&search_field=all_fields 200 application/json (287,551 bytes); .../catalog.json?q=birds&search_field=all_fields&page=2&per_page=5 200; https://catalog.library.cornell.edu/catalog/opensearch.xml 200 application/xml; https://catalog.library.cornell.edu/catalog/15658426.json 406 (item JSON not served). The HTML root returns HTTP 202 with a zero-length body to non-browser clients (bot challenge) while the JSON routes answer normally.'
servers:
- url: https://catalog.library.cornell.edu
  description: Cornell University Library catalog (production)
tags:
- name: library-catalog
  description: Search the Cornell University Library catalog.
paths:
  /catalog/opensearch.xml:
    get:
      tags:
      - library-catalog
      summary: OpenSearch description document
      description: OpenSearch 1.1 description advertising the HTML, RSS and suggestion endpoints.
      operationId: getOpenSearchDescription
      responses:
        '200':
          description: OpenSearch description document.
          content:
            application/xml:
              schema:
                type: string
  /catalog/opensearch.json:
    get:
      tags:
      - library-catalog
      summary: Search suggestions
      description: OpenSearch suggestions endpoint advertised by the OpenSearch description document.
      operationId: getSearchSuggestions
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Suggestion list.
          content:
            application/json:
              schema:
                type: array
                items: {}
