openapi: 3.0.0
info:
  description: A public API for retrieving classes at Cornell University
  version: '0.1'
  title: Cornell Classes config search API
  contact:
    name: Cornell Open Data Initiative
    url: https://codi.engineering.cornell.edu
    email: codi@cornellappdev.com
servers:
- url: https://classes.cornell.edu/api/2.0
tags:
- name: search
paths:
  /search/classes.json:
    get:
      tags:
      - search
      summary: Get all classes matching input query
      description: Return all classes in the specified roster and subject that match the input query
      parameters:
      - name: roster
        in: query
        description: Roster semester & year (i.e. FA14, SP15)
        required: true
        schema:
          type: string
      - name: subject
        in: query
        description: Academic subject (i.e. CS, PHIL)
        required: true
        schema:
          type: string
      - name: acadGroup[]
        in: query
        description: Academic group (i.e. AG)
        required: false
        schema:
          type: string
      - name: acadCareer[]
        in: query
        description: Academic career (i.e. GR)
        required: false
        schema:
          type: string
      - name: classLevels[]
        in: query
        description: Class levels (i.e. 6000)
        required: false
        schema:
          type: integer
      - name: crseAttrs[]
        in: query
        description: Course attribute (i.e. CU-SBY)
        required: false
        schema:
          type: string
      - name: q
        in: query
        description: Search term (i.e. graphics)
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A JSON of classes
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ClassesResponse'
  /events/search:
    get:
      tags:
      - search
      summary: Search Cornell Events
      description: Return the evens on the Cornell website matching the input query
      parameters:
      - name: days
        in: query
        description: Number of days ahead to look for events
        required: false
        schema:
          type: integer
          default: 7
      - name: distinct
        in: query
        description: Whether to only show distinct events
        required: false
        schema:
          type: boolean
          default: true
      - name: search
        in: query
        description: Input query to search events for
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A JSON of events
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventsResponse'
components:
  schemas:
    EventsResponse:
      type: object
      properties:
        events:
          $ref: '#/components/schemas/EventsResponse_events'
      example:
        events:
          date:
            last: 2018-05-03
            first: 2018-04-02
          page:
            current: 1
            total: 0
            size: 10
          events:
          - featured: false
            keywords: []
            localist_ics_url: null
            id: 1138971
            photo_url: null
            urlname: 4-h_exhibit_creation_day
            detail_views: 14
            venue_id: null
            recurring: false
            ticket_cost: null
            custom_fields:
              contact_name: Kelly Adams
              contact_phone: 607-772-8953
              contact_email: kea32@cornell.edu
            room_number: null
            description_text: null
            ticket_url: null
            created_by: null
            venue_url: null
            facebook_id: null
            tags: []
            location_name: null
            allows_attendance: true
            directions: null
            user_id: null
            updated_by: null
            first_date: 2018-01-27
            city_id: null
            private: false
            photo_id: 214651
            rejected: false
            localist_url: null
            created_at: 2017-12-20 03:28:33-05:00
            description: null
            allows_reviews: true
            title: 4-H Exhibit Creation Day
            last_date: 2018-04-02
            geo:
              zip: 10935
              country: US
              city: Binghamton
              street: 840 Front Street
              latitude: 42.128713
              state: NY
              longitude: -75.905503
            updated_at: 2018-04-02 08:06:32-04:00
            school_id: 10
            neighborhood_id: null
            free: true
            hashtag: null
            address: null
            verified: true
            event_instances:
            - event_instance:
                event_id: 1138971
                start: 2018-04-02 00:00:00-04:00
                all_day: true
                ranking: 0
                end: null
                id: 3451946
            - event_instance:
                event_id: 1138971
                start: 2018-04-02 00:00:00-04:00
                all_day: true
                ranking: 0
                end: null
                id: 3451946
            groups:
            - name: Cooperative Extension
              id: 5506
            - name: Cooperative Extension
              id: 5506
            sponsored: false
            filters:
              departments:
              - name: CCE Broome
                id: 30022
              - name: CCE Broome
                id: 30022
            url: null
            campus_id: null
            location: null
          - featured: false
            keywords: []
            localist_ics_url: null
            id: 1138971
            photo_url: null
            urlname: 4-h_exhibit_creation_day
            detail_views: 14
            venue_id: null
            recurring: false
            ticket_cost: null
            custom_fields:
              contact_name: Kelly Adams
              contact_phone: 607-772-8953
              contact_email: kea32@cornell.edu
            room_number: null
            description_text: null
            ticket_url: null
            created_by: null
            venue_url: null
            facebook_id: null
            tags: []
            location_name: null
            allows_attendance: true
            directions: null
            user_id: null
            updated_by: null
            first_date: 2018-01-27
            city_id: null
            private: false
            photo_id: 214651
            rejected: false
            localist_url: null
            created_at: 2017-12-20 03:28:33-05:00
            description: null
            allows_reviews: true
            title: 4-H Exhibit Creation Day
            last_date: 2018-04-02
            geo:
              zip: 10935
              country: US
              city: Binghamton
              street: 840 Front Street
              latitude: 42.128713
              state: NY
              longitude: -75.905503
            updated_at: 2018-04-02 08:06:32-04:00
            school_id: 10
            neighborhood_id: null
            free: true
            hashtag: null
            address: null
            verified: true
            event_instances:
            - event_instance:
                event_id: 1138971
                start: 2018-04-02 00:00:00-04:00
                all_day: true
                ranking: 0
                end: null
                id: 3451946
            - event_instance:
                event_id: 1138971
                start: 2018-04-02 00:00:00-04:00
                all_day: true
                ranking: 0
                end: null
                id: 3451946
            groups:
            - name: Cooperative Extension
              id: 5506
            - name: Cooperative Extension
              id: 5506
            sponsored: false
            filters:
              departments:
              - name: CCE Broome
                id: 30022
              - name: CCE Broome
                id: 30022
            url: null
            campus_id: null
            location: null
    Classes_enrollGroups:
      properties:
        classSections:
          type: array
          example: []
          items:
            type: object
            properties: {}
        unitsMinimum:
          type: integer
          example: 4
        unitsMaximum:
          type: integer
          example: 4
        componentsOptional:
          type: array
          example: []
          items:
            type: string
        componentsRequired:
          type: array
          example: []
          items:
            type: string
        gradingBasis:
          type: string
          example: OPT
        gradingBasisShort:
          type: string
          example: Stdnt Opt
        gradingBasisLong:
          type: string
          example: Student Option
        simpleCombinations:
          type: array
          example: []
          items:
            type: string
        sessionCode:
          type: string
          example: 1
        sessionBeginDt:
          type: string
          example: 08/26/2014
        sessionEndDt:
          type: string
          example: 12/05/2014
        sessionLong:
          type: string
          example: Regular Academic Session
      example:
        unitsMaximum: 4
        sessionCode: 1
        simpleCombinations: []
        gradingBasisShort: Stdnt Opt
        componentsOptional: []
        gradingBasisLong: Student Option
        sessionEndDt: 12/05/2014
        unitsMinimum: 4
        gradingBasis: OPT
        sessionLong: Regular Academic Session
        sessionBeginDt: 08/26/2014
        componentsRequired: []
        classSections: []
    Event_event_instances:
      properties:
        event_instance:
          $ref: '#/components/schemas/Event_event_instance'
      example:
        event_instance:
          event_id: 1138971
          start: 2018-04-02 00:00:00-04:00
          all_day: true
          ranking: 0
          end: null
          id: 3451946
    Event:
      type: object
      properties:
        id:
          type: integer
          example: 1138971
        title:
          type: string
          example: 4-H Exhibit Creation Day
        url:
          type: string
          example: null
        updated_at:
          type: string
          example: 2018-04-02 08:06:32-04:00
        created_at:
          type: string
          example: 2017-12-20 03:28:33-05:00
        facebook_id:
          type: integer
          example: null
        first_date:
          type: string
          example: 2018-01-27
        last_date:
          type: string
          example: 2018-04-02
        hashtag:
          type: string
          example: null
        urlname:
          type: string
          example: 4-h_exhibit_creation_day
        user_id:
          type: integer
          example: null
        directions:
          type: string
          example: null
        allows_reviews:
          type: boolean
          example: true
        allows_attendance:
          type: boolean
          example: true
        location:
          type: string
          example: null
        room_number:
          type: integer
          example: null
        location_name:
          type: string
          example: null
        created_by:
          type: string
          example: null
        updated_by:
          type: string
          example: null
        city_id:
          type: integer
          example: null
        neighborhood_id:
          type: integer
          example: null
        school_id:
          type: integer
          example: 10
        campus_id:
          type: integer
          example: null
        recurring:
          type: boolean
          example: false
        free:
          type: boolean
          example: true
        private:
          type: boolean
          example: false
        verified:
          type: boolean
          example: true
        rejected:
          type: boolean
          example: false
        sponsored:
          type: boolean
          example: false
        venue_id:
          type: integer
          example: null
        ticket_url:
          type: string
          example: null
        ticket_cost:
          type: integer
          example: null
        keywords:
          type: array
          example: []
          items:
            type: string
        tags:
          type: array
          example: []
          items:
            type: string
        description_text:
          type: string
          example: null
        photo_id:
          type: integer
          example: 214651
        detail_views:
          type: integer
          example: 14
        event_instances:
          type: array
          items:
            $ref: '#/components/schemas/Event_event_instances'
        address:
          type: string
          example: null
        description:
          type: string
          example: null
        featured:
          type: boolean
          example: false
        geo:
          $ref: '#/components/schemas/Event_geo'
        filters:
          $ref: '#/components/schemas/Event_filters'
        custom_fields:
          $ref: '#/components/schemas/Event_custom_fields'
        localist_url:
          type: string
          example: null
        localist_ics_url:
          type: string
          example: null
        photo_url:
          type: string
          example: null
        venue_url:
          type: string
          example: null
        groups:
          type: array
          items:
            $ref: '#/components/schemas/Event_groups'
      example:
        featured: false
        keywords: []
        localist_ics_url: null
        id: 1138971
        photo_url: null
        urlname: 4-h_exhibit_creation_day
        detail_views: 14
        venue_id: null
        recurring: false
        ticket_cost: null
        custom_fields:
          contact_name: Kelly Adams
          contact_phone: 607-772-8953
          contact_email: kea32@cornell.edu
        room_number: null
        description_text: null
        ticket_url: null
        created_by: null
        venue_url: null
        facebook_id: null
        tags: []
        location_name: null
        allows_attendance: true
        directions: null
        user_id: null
        updated_by: null
        first_date: 2018-01-27
        city_id: null
        private: false
        photo_id: 214651
        rejected: false
        localist_url: null
        created_at: 2017-12-20 03:28:33-05:00
        description: null
        allows_reviews: true
        title: 4-H Exhibit Creation Day
        last_date: 2018-04-02
        geo:
          zip: 10935
          country: US
          city: Binghamton
          street: 840 Front Street
          latitude: 42.128713
          state: NY
          longitude: -75.905503
        updated_at: 2018-04-02 08:06:32-04:00
        school_id: 10
        neighborhood_id: null
        free: true
        hashtag: null
        address: null
        verified: true
        event_instances:
        - event_instance:
            event_id: 1138971
            start: 2018-04-02 00:00:00-04:00
            all_day: true
            ranking: 0
            end: null
            id: 3451946
        - event_instance:
            event_id: 1138971
            start: 2018-04-02 00:00:00-04:00
            all_day: true
            ranking: 0
            end: null
            id: 3451946
        groups:
        - name: Cooperative Extension
          id: 5506
        - name: Cooperative Extension
          id: 5506
        sponsored: false
        filters:
          departments:
          - name: CCE Broome
            id: 30022
          - name: CCE Broome
            id: 30022
        url: null
        campus_id: null
        location: null
    EventsResponse_events_page:
      properties:
        current:
          type: integer
          example: 1
        size:
          type: integer
          example: 10
        total:
          type: integer
          example: 0
      example:
        current: 1
        total: 0
        size: 10
    ClassesResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        data:
          $ref: '#/components/schemas/ClassesResponse_data'
        message:
          type: string
          example: null
        meta:
          $ref: '#/components/schemas/ClassesResponse_meta'
      example:
        data:
          subjects:
          - catalogBreadth: null
            catalogPrereqCoreq: Assumes basic high school mathematics (no calculus) but no programming experience.
            enrollGroups:
            - unitsMaximum: 4
              sessionCode: 1
              simpleCombinations: []
              gradingBasisShort: Stdnt Opt
              componentsOptional: []
              gradingBasisLong: Student Option
              sessionEndDt: 12/05/2014
              unitsMinimum: 4
              gradingBasis: OPT
              sessionLong: Regular Academic Session
              sessionBeginDt: 08/26/2014
              componentsRequired: []
              classSections: []
            - unitsMaximum: 4
              sessionCode: 1
              simpleCombinations: []
              gradingBasisShort: Stdnt Opt
              componentsOptional: []
              gradingBasisLong: Student Option
              sessionEndDt: 12/05/2014
              unitsMinimum: 4
              gradingBasis: OPT
              sessionLong: Regular Academic Session
              sessionBeginDt: 08/26/2014
              componentsRequired: []
              classSections: []
            catalogCourseSubfield: null
            subject: CS
            catalogDistr: (MQR)
            catalogOutcomes: []
            description: null
            strm: 2573
            catalogComments: null
            catalogForbiddenOverlaps: null
            acadCareer: UG
            crseId: 358526
            crseOfferNbr: 1
            catalogNbr: 1110
            catalogLang: null
            titleShort: Intro Computing Using Python
            titleLong: Introduction to Computing Using Python
            acadGroup: EN
            catalogFee: null
            catalogPermission: null
            catalogWhenOffered: Fall, spring, summer.
            catalogSatisfiesReq: null
          - catalogBreadth: null
            catalogPrereqCoreq: Assumes basic high school mathematics (no calculus) but no programming experience.
            enrollGroups:
            - unitsMaximum: 4
              sessionCode: 1
              simpleCombinations: []
              gradingBasisShort: Stdnt Opt
              componentsOptional: []
              gradingBasisLong: Student Option
              sessionEndDt: 12/05/2014
              unitsMinimum: 4
              gradingBasis: OPT
              sessionLong: Regular Academic Session
              sessionBeginDt: 08/26/2014
              componentsRequired: []
              classSections: []
            - unitsMaximum: 4
              sessionCode: 1
              simpleCombinations: []
              gradingBasisShort: Stdnt Opt
              componentsOptional: []
              gradingBasisLong: Student Option
              sessionEndDt: 12/05/2014
              unitsMinimum: 4
              gradingBasis: OPT
              sessionLong: Regular Academic Session
              sessionBeginDt: 08/26/2014
              componentsRequired: []
              classSections: []
            catalogCourseSubfield: null
            subject: CS
            catalogDistr: (MQR)
            catalogOutcomes: []
            description: null
            strm: 2573
            catalogComments: null
            catalogForbiddenOverlaps: null
            acadCareer: UG
            crseId: 358526
            crseOfferNbr: 1
            catalogNbr: 1110
            catalogLang: null
            titleShort: Intro Computing Using Python
            titleLong: Introduction to Computing Using Python
            acadGroup: EN
            catalogFee: null
            catalogPermission: null
            catalogWhenOffered: Fall, spring, summer.
            catalogSatisfiesReq: null
        meta:
          copyright: Cornell University, Office of the University Registrar
          catalogDttm: 2015-01-14T18:21:04-0500
          rosterDttm: 2015-01-14T18:16:01-0500
        message: null
        status: success
    EventsResponse_events:
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
        page:
          $ref: '#/components/schemas/EventsResponse_events_page'
        date:
          $ref: '#/components/schemas/EventsResponse_events_date'
      example:
        date:
          last: 2018-05-03
          first: 2018-04-02
        page:
          current: 1
          total: 0
          size: 10
        events:
        - featured: false
          keywords: []
          localist_ics_url: null
          id: 1138971
          photo_url: null
          urlname: 4-h_exhibit_creation_day
          detail_views: 14
          venue_id: null
          recurring: false
          ticket_cost: null
          custom_fields:
            contact_name: Kelly Adams
            contact_phone: 607-772-8953
            contact_email: kea32@cornell.edu
          room_number: null
          description_text: null
          ticket_url: null
          created_by: null
          venue_url: null
          facebook_id: null
          tags: []
          location_name: null
          allows_attendance: true
          directions: null
          user_id: null
          updated_by: null
          first_date: 2018-01-27
          city_id: null
          private: false
          photo_id: 214651
          rejected: false
          localist_url: null
          created_at: 2017-12-20 03:28:33-05:00
          description: null
          allows_reviews: true
          title: 4-H Exhibit Creation Day
          last_date: 2018-04-02
          geo:
            zip: 10935
            country: US
            city: Binghamton
            street: 840 Front Street
            latitude: 42.128713
            state: NY
            longitude: -75.905503
          updated_at: 2018-04-02 08:06:32-04:00
          school_id: 10
          neighborhood_id: null
          free: true
          hashtag: null
          address: null
          verified: true
          event_instances:
          - event_instance:
              event_id: 1138971
              start: 2018-04-02 00:00:00-04:00
              all_day: true
              ranking: 0
              end: null
              id: 3451946
          - event_instance:
              event_id: 1138971
              start: 2018-04-02 00:00:00-04:00
              all_day: true
              ranking: 0
              end: null
              id: 3451946
          groups:
          - name: Cooperative Extension
            id: 5506
          - name: Cooperative Extension
            id: 5506
          sponsored: false
          filters:
            departments:
            - name: CCE Broome
              id: 30022
            - name: CCE Broome
              id: 30022
          url: null
          campus_id: null
          location: null
        - featured: false
          keywords: []
          localist_ics_url: null
          id: 1138971
          photo_url: null
          urlname: 4-h_exhibit_creation_day
          detail_views: 14
          venue_id: null
          recurring: false
          ticket_cost: null
          custom_fields:
            contact_name: Kelly Adams
            contact_phone: 607-772-8953
            contact_email: kea32@cornell.edu
          room_number: null
          description_text: null
          ticket_url: null
          created_by: null
          venue_url: null
          facebook_id: null
          tags: []
          location_name: null
          allows_attendance: true
          directions: null
          user_id: null
          updated_by: null
          first_date: 2018-01-27
          city_id: null
          private: false
          photo_id: 214651
          rejected: false
          localist_url: null
          created_at: 2017-12-20 03:28:33-05:00
          description: null
          allows_reviews: true
          title: 4-H Exhibit Creation Day
          last_date: 2018-04-02
          geo:
            zip: 10935
            country: US
            city: Binghamton
            street: 840 Front Street
            latitude: 42.128713
            state: NY
            longitude: -75.905503
          updated_at: 2018-04-02 08:06:32-04:00
          school_id: 10
          neighborhood_id: null
          free: true
          hashtag: null
          address: null
          verified: true
          event_instances:
          - event_instance:
              event_id: 1138971
              start: 2018-04-02 00:00:00-04:00
              all_day: true
              ranking: 0
              end: null
              id: 3451946
          - event_instance:
              event_id: 1138971
              start: 2018-04-02 00:00:00-04:00
              all_day: true
              ranking: 0
              end: null
              id: 3451946
          groups:
          - name: Cooperative Extension
            id: 5506
          - name: Cooperative Extension
            id: 5506
          sponsored: false
          filters:
            departments:
            - name: CCE Broome
              id: 30022
            - name: CCE Broome
              id: 30022
          url: null
          campus_id: null
          location: null
    EventsResponse_events_date:
      properties:
        first:
          type: string
          example: 2018-04-02
        last:
          type: string
          example: 2018-05-03
      example:
        last: 2018-05-03
        first: 2018-04-02
    Classes:
      type: object
      properties:
        strm:
          type: integer
          example: 2573
        crseId:
          type: integer
          example: 358526
        crseOfferNbr:
          type: integer
          example: 1
        subject:
          type: string
          example: CS
        catalogNbr:
          type: string
          example: 1110
        titleShort:
          type: string
          example: Intro Computing Using Python
        titleLong:
          type: string
          example: Introduction to Computing Using Python
        enrollGroups:
          type: array
          items:
            $ref: '#/components/schemas/Classes_enrollGroups'
        description:
          type: string
          example: null
        catalogBreadth:
          type: string
          example: null
        catalogDistr:
          type: string
          example: (MQR)
        catalogLang:
          type: string
          example: null
        catalogForbiddenOverlaps:
          type: string
          example: null
        catalogWhenOffered:
          type: string
          example: Fall, spring, summer.
        catalogComments:
          type: string
          example: null
        catalogPrereqCoreq:
          type: string
          example: Assumes basic high school mathematics (no calculus) but no programming experience.
        catalogFee:
          type: string
          example: null
        catalogSatisfiesReq:
          type: string
          example: null
        catalogPermission:
          type: string
          example: null
        catalogCourseSubfield:
          type: string
          example: null
        catalogOutcomes:
          type: array
          example: []
          items:
            type: string
        acadCareer:
          type: string
          example: UG
        acadGroup:
          type: string
          example: EN
      example:
        catalogBreadth: null
        catalogPrereqCoreq: Assumes basic high school mathematics (no calculus) but no programming experience.
        enrollGroups:
        - unitsMaximum: 4
          sessionCode: 1
          simpleCombinations: []
          gradingBasisShort: Stdnt Opt
          componentsOptional: []
          gradingBasisLong: Student Option
          sessionEndDt: 12/05/2014
          unitsMinimum: 4
          gradingBasis: OPT
          sessionLong: Regular Academic Session
          sessionBeginDt: 08/26/2014
          componentsRequired: []
          classSections: []
        - unitsMaximum: 4
          sessionCode: 1
          simpleCombinations: []
          gradingBasisShort: Stdnt Opt
          componentsOptional: []
          gradingBasisLong: Student Option
          sessionEndDt: 12/05/2014
          unitsMinimum: 4
          gradingBasis: OPT
          sessionLong: Regular Academic Session
          sessionBeginDt: 08/26/2014
          componentsRequired: []
          classSections: []
        catalogCourseSubfield: null
        subject: CS
        catalogDistr: (MQR)
        catalogOutcomes: []
        description: null
        strm: 2573
        catalogComments: null
        catalogForbiddenOverlaps: null
        acadCareer: UG
        crseId: 358526
        crseOfferNbr: 1
        catalogNbr: 1110
        catalogLang: null
        titleShort: Intro Computing Using Python
        titleLong: Introduction to Computing Using Python
        acadGroup: EN
        catalogFee: null
        catalogPermission: null
        catalogWhenOffered: Fall, spring, summer.
        catalogSatisfiesReq: null
    ClassesResponse_meta:
      properties:
        copyright:
          type: string
          example: Cornell University, Office of the University Registrar
        rosterDttm:
          type: string
          example: 2015-01-14T18:16:01-0500
        catalogDttm:
          type: string
          example: 2015-01-14T18:21:04-0500
      example:
        copyright: Cornell University, Office of the University Registrar
        catalogDttm: 2015-01-14T18:21:04-0500
        rosterDttm: 2015-01-14T18:16:01-0500
    Event_geo:
      properties:
        latitude:
          type: string
          example: 42.128713
        longitude:
          type: string
          example: -75.905503
        street:
          type: string
          example: 840 Front Street
        city:
          type: string
          example: Binghamton
        state:
          type: string
          example: NY
        country:
          type: string
          example: US
        zip:
          type: string
          example: 10935
      example:
        zip: 10935
        country: US
        city: Binghamton
        street: 840 Front Street
        latitude: 42.128713
        state: NY
        longitude: -75.905503
    Event_filters:
      properties:
        departments:
          type: array
          items:
            $ref: '#/components/schemas/Event_filters_departments'
      example:
        departments:
        - name: CCE Broome
          id: 30022
        - name: CCE Broome
          id: 30022
    Event_custom_fields:
      properties:
        contact_email:
          type: string
          example: kea32@cornell.edu
        contact_name:
          type: string
          example: Kelly Adams
        contact_phone:
          type: string
          example: 607-772-8953
      example:
        contact_name: Kelly Adams
        contact_phone: 607-772-8953
        contact_email: kea32@cornell.edu
    Event_event_instance:
      properties:
        id:
          type: integer
          example: 3451946
        ranking:
          type: integer
          example: 0
        event_id:
          type: integer
          example: 1138971
        start:
          type: string
          example: 2018-04-02 00:00:00-04:00
        end:
          type: string
          example: null
        all_day:
          type: boolean
          example: true
      example:
        event_id: 1138971
        start: 2018-04-02 00:00:00-04:00
        all_day: true
        ranking: 0
        end: null
        id: 3451946
    ClassesResponse_data:
      properties:
        subjects:
          type: array
          items:
            $ref: '#/components/schemas/Classes'
      example:
        subjects:
        - catalogBreadth: null
          catalogPrereqCoreq: Assumes basic high school mathematics (no calculus) but no programming experience.
          enrollGroups:
          - unitsMaximum: 4
            sessionCode: 1
            simpleCombinations: []
            gradingBasisShort: Stdnt Opt
            componentsOptional: []
            gradingBasisLong: Student Option
            sessionEndDt: 12/05/2014
            unitsMinimum: 4
            gradingBasis: OPT
            sessionLong: Regular Academic Session
            sessionBeginDt: 08/26/2014
            componentsRequired: []
            classSections: []
          - unitsMaximum: 4
            sessionCode: 1
            simpleCombinations: []
            gradingBasisShort: Stdnt Opt
            componentsOptional: []
            gradingBasisLong: Student Option
            sessionEndDt: 12/05/2014
            unitsMinimum: 4
            gradingBasis: OPT
            sessionLong: Regular Academic Session
            sessionBeginDt: 08/26/2014
            componentsRequired: []
            classSections: []
          catalogCourseSubfield: null
          subject: CS
          catalogDistr: (MQR)
          catalogOutcomes: []
          description: null
          strm: 2573
          catalogComments: null
          catalogForbiddenOverlaps: null
          acadCareer: UG
          crseId: 358526
          crseOfferNbr: 1
          catalogNbr: 1110
          catalogLang: null
          titleShort: Intro Computing Using Python
          titleLong: Introduction to Computing Using Python
          acadGroup: EN
          catalogFee: null
          catalogPermission: null
          catalogWhenOffered: Fall, spring, summer.
          catalogSatisfiesReq: null
        - catalogBreadth: null
          catalogPrereqCoreq: Assumes basic high school mathematics (no calculus) but no programming experience.
          enrollGroups:
          - unitsMaximum: 4
            sessionCode: 1
            simpleCombinations: []
            gradingBasisShort: Stdnt Opt
            componentsOptional: []
            gradingBasisLong: Student Option
            sessionEndDt: 12/05/2014
            unitsMinimum: 4
            gradingBasis: OPT
            sessionLong: Regular Academic Session
            sessionBeginDt: 08/26/2014
            componentsRequired: []
            classSections: []
          - unitsMaximum: 4
            sessionCode: 1
            simpleCombinations: []
            gradingBasisShort: Stdnt Opt
            componentsOptional: []
            gradingBasisLong: Student Option
            sessionEndDt: 12/05/2014
            unitsMinimum: 4
            gradingBasis: OPT
            sessionLong: Regular Academic Session
            sessionBeginDt: 08/26/2014
            componentsRequired: []
            classSections: []
          catalogCourseSubfield: null
          subject: CS
          catalogDistr: (MQR)
          catalogOutcomes: []
          description: null
          strm: 2573
          catalogComments: null
          catalogForbiddenOverlaps: null
          acadCareer: UG
          crseId: 358526
          crseOfferNbr: 1
          catalogNbr: 1110
          catalogLang: null
          titleShort: Intro Computing Using Python
          titleLong: Introduction to Computing Using Python
          acadGroup: EN
          catalogFee: null
          catalogPermission: null
          catalogWhenOffered: Fall, spring, summer.
          catalogSatisfiesReq: null
    Event_filters_departments:
      properties:
        name:
          type: string
          example: CCE Broome
        id:
          type: integer
          example: 30022
      example:
        name: CCE Broome
        id: 30022
    Event_groups:
      properties:
        id:
          type: integer
          example: 5506
        name:
          type: string
          example: Cooperative Extension
      example:
        name: Cooperative Extension
        id: 5506
