openapi: 3.0.0
info:
  description: A public API for retrieving classes at Cornell University
  version: '0.1'
  title: Cornell Classes config map items API
  contact:
    name: Cornell Open Data Initiative
    url: https://codi.engineering.cornell.edu
    email: codi@cornellappdev.com
servers:
- url: https://classes.cornell.edu/api/2.0
tags:
- name: map items
paths:
  /overlay-items.cfm:
    get:
      tags:
      - map items
      summary: Get Cornell Map Items
      description: Return all location information of the specified layer
      parameters:
      - name: layer
        in: query
        description: 'Layers: * `AllGender` - All Gender Bathrooms * `BigRedBikes` - Bike Share Stations * `Bikes` - Bike Racks * `Blue` - Blue Lights * `Carshare` - Ithaca Carshare * `Charging` - Electric Car Charging Stations * `FeaturedEvents` - Featured Cornell Events * `FoodServices` - Eateries (i.e. dining halls, cafes)  * `Lactation` - Lactation rooms * `Overlays` - Miscellaneous (information booths, campus-to-campus stops, diaper changing stations, wellness paths) * `Parkmobile` - Pay-by-cell Parking * `Sustainability` - Sustainable Centers and Institutes * `TCAT` - TCAT Bus Stops * `TodayEvents` - Today''s Cornell Events * `Tour` - Virtual Tour Points * `Water` - Take Back The Tap

          '
        required: true
        schema:
          type: string
          enum:
          - AllGender
          - BigRedBikes
          - Bikes
          - Blue
          - Carshare
          - Charging
          - FeaturedEvents
          - FoodServices
          - Lactation
          - Overlays
          - Parkmobile
          - Sustainability
          - TCAT
          - TodayEvents
          - Tour
          - Water
          default: AllGender
      - name: clearCache
        in: query
        description: 1 if cache should be cleared
        required: true
        schema:
          type: integer
          enum:
          - 0
          - 1
          default: 1
      responses:
        '200':
          description: A JSON of Cornell locations matching the specified layer
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ItemsResponse'
components:
  schemas:
    Item:
      type: object
      properties:
        Name:
          type: string
          example: Balch Hall
        Lat:
          type: string
          example: 42.4534402
        Lng:
          type: string
          example: -76.4789259
        Folder:
          type: string
          example: BigRedBikes
        Notes:
          type: string
          example: Balch Hall
      example:
        Lng: -76.4789259
        Folder: BigRedBikes
        Lat: 42.4534402
        Notes: Balch Hall
        Name: Balch Hall
    ItemsResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Item'
      example:
        items:
        - Lng: -76.4789259
          Folder: BigRedBikes
          Lat: 42.4534402
          Notes: Balch Hall
          Name: Balch Hall
        - Lng: -76.4789259
          Folder: BigRedBikes
          Lat: 42.4534402
          Notes: Balch Hall
          Name: Balch Hall
